body {
    height: 100%;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/50598/concrete-wall-background.jpg) center center fixed;
    background-size: cover;
}

@font-face {
    font-family: 'KGTenThousandReasons';
    src: url('KGTenThousandReasons.ttf') format('truetype'),
        url('KGTenThousandReasonsAlt.ttf') format('truetype');
}

.shade {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient( 150deg, rgba(0, 0, 0, 0.65), transparent);
}

.blackboard {
    position: relative;
    width: 80%;
    margin: 4% auto;
    border: tan solid 12px;
    border-top: #bda27e solid 12px;
    border-left: #b19876 solid 12px;
    border-bottom: #c9ad86 solid 12px;
    box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782, 0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
    background-image: radial-gradient( circle at left 30%, rgba(34, 34, 34, 0.3), rgba(34, 34, 34, 0.3) 80px, rgba(34, 34, 34, 0.5) 100px, rgba(51, 51, 51, 0.5) 160px, rgba(51, 51, 51, 0.5)), linear-gradient( 215deg, transparent, transparent 100px, #222 260px, #222 320px, transparent), radial-gradient( circle at right, #111, rgba(51, 51, 51, 1));
    background-color: #333;
}

.blackboard:before {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 175deg, transparent, transparent 40px, rgba(120, 120, 120, 0.1) 100px, rgba(120, 120, 120, 0.1) 110px, transparent 220px, transparent), linear-gradient( 200deg, transparent 80%, rgba(50, 50, 50, 0.3)), radial-gradient( ellipse at right bottom, transparent, transparent 200px, rgba(80, 80, 80, 0.1) 260px, rgba(80, 80, 80, 0.1) 320px, transparent 400px, transparent);
}

.form {
    padding: 2% 4% 2%;
}

h1 {
    font-family: 'KGTenThousandReasons', cursive;
    font-size: 10em;
    color: rgba(238, 238, 238, 0.7);
    text-align: center;
    margin: auto;
}

h2 {
    vertical-align: middle;
    font-family: 'KGTenThousandReasons', cursive;
    font-size: 3em;
    color: rgba(238, 238, 238, 0.7);
    text-align: center;
}

p {
    font-family: 'KGTenThousandReasons', cursive;
    font-size: 1.5em;
    color: rgba(238, 238, 238, 0.7);
    text-align: justify;
}

label {
    font-family: 'KGTenThousandReasons', cursive;
    font-size: 1.5em;
    color: rgba(238, 238, 238, 0.7);
    text-align: justify;
}

li {
    font-family: 'KGTenThousandReasons', cursive;
    font-size: 1.5em;
    color: rgba(238, 238, 238, 0.7);
    text-align: justify;
}

#hIntro {
    vertical-align: middle;
    font-family: 'KGTenThousandReasons', cursive;
    font-size: 3em;
    color: rgba(238, 238, 238, 0.7);
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
}

.pIntro {
    vertical-align: middle;
    text-align: center;
    margin: auto;
    margin-top: 1%;
}

p:nth-of-type(5) > label {
    vertical-align: top;
}

small {
    vertical-align: middle;
    font-family: 'KGTenThousandReasons', cursive;
    font-size: 1em;
    color: rgba(238, 238, 238, 0.7);
    text-align: center;
}

textarea {
    display: none;
}

#toolEd {
    background-color: rgba(238, 238, 238, 0.7);
}

    #toolEd > #editor {
        background-color: #333;
    }

table {
    text-align: center;
    font-family: 'KGTenThousandReasons', cursive;
    font-size: 1.5em;
    color: rgba(238, 238, 238, 0.7);
    margin: 0 auto;
}

#colCenter {
    padding: 0 8em;
}

#noms {
    font-weight: bold;
}